@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}
/* Color:

Ground Control to Major Tom

Dark grey: #2B2E2E
Grey: #595855
Light grey: #A2ABA5
Light bue: #CAE6E8
Navy: #313F54

Rise

Navy: #2B3A42
Blue: #3F5765
Light blue: #BDD4DE
White: #EFEFEF
Orange: #E74C3C

*/
/* Fix for responsive images */
img {
  max-width: 100%;
}
/* ----------------------------------------
Base Styles
------------------------------------------- */


/* ----------------------------------------
Typography
------------------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: #EFEFEF;
  color: #2B3A42;
}

a {
  text-decoration: none;
}

/* ----------------------------------------
Header
------------------------------------------- */
nav {
  background-color: #2B3A42;
}
nav ul {
  list-style:none;
  background-color: #2B3A42;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #EFEFEF;
  display: inline-block;
  border-bottom: none;
  text-transform: uppercase;
  letter-spacing: 0.75px;
	padding: 10px 60px;
}

.hamburger {
  display: none;
  font-size: 20px;
  margin: 10px 0;
  padding-left: 20px;
}

/* ----------------------------------------
Layout
------------------------------------------- */
.bandcamp {
  display: flex;
  justify-content: space-around;
}

.album {

}
/* ----------------------------------------
Buttons
------------------------------------------- */

/* ----------------------------------------
Footer
------------------------------------------- */

footer {
  background-color: #E74C3C;
  color: #EFEFEF;
}
